{
  "plugins": [
    "react",
    "react-hooks"
  ],
  "extends": [
    "../.eslintrc",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "project": ["./client/tsconfig.json"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
