{
    "env": {
        "commonjs": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "script"
    },
    "rules": {
        "indent": [
            "error",
            2
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": "off",
        "semi": "off",
        "curly": "off",
        "dot-location": ["error", "property"],
        "eqeqeq": "error",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-extra-bind": "warn",
        "no-implicit-coercion": "error",
        "no-useless-concat": "warn",
        "no-useless-escape": "warn",
        "block-spacing": "off",
        "brace-style": "off",
        "camelcase": "off",
        "comma-spacing": "warn",
        "spaced-comment": "warn",
        "no-const-assign": "error",
        "no-var": "off",
        "prefer-const": "off",
        "template-curly-spacing": ["warn", "never"],
        "no-console": "off",
        "no-unused-vars": "off"
    }
}
